@using FinalProjectWithRepositoryDesignPattern.DTOs.Service

@{
    ViewData["Title"] = "Index";
}
@model List<ServiceGetDto>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>
                    @for (int i = 0; i < item.serviceActions.Count; i++)
                    {
                        <p>@item.serviceActions[i].Name</p>
                    }
                </td>
                <td>
                    @for (int i = 0; i < item.serviceActions.Count; i++)
                    {
                        <p>@item.serviceActions[i].Title</p>
                    }
                </td>
                <td>edit</td>
            </tr>
        }
    </tbody>
</table>

